.about{
  min-height: 870px;
  background: url('../img/about-bg.jpg') no-repeat center;
  position: relative;
  z-index: -3;
  &__title{

  }

  &__title:before{
    background-color: white;
  }

  p{
    margin-bottom: 30px;
  }

}